<ion-content color="primary">
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="primary"><p class="heading">Travel With Me</p></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input label="Name" labelPlacement="floating" placeholder="Enter Name" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Email" labelPlacement="floating" placeholder="Enter Email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Password" type="password" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-button expand="block" fill="clear" color="medium" class="dark">Forget/Change Password</ion-button>
        <ion-button expand="block" color="primary">Login</ion-button>
        <ion-button expand="block" fill="clear" color="primary">Register</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
